openapi: 3.0.0
info:
  description: |
    [binance documentation on github](https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md)
  version: 1.0.0
  title: Binance API
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://api.binance.com'
tags:
  - name: General endpoints
  - name: Market Data endpoints
  - name: Account endpoints
paths:
  /api/v1/ping:
    get:
      tags:
        - General endpoints
      summary: Test connectivity to the Rest API.
      operationId: TestConnectivity
      responses:
        '200':
          description: ping response
        '418':
          $ref: '#/components/responses/ipBanned'
        '429':
          $ref: '#/components/responses/rateLimit'
        '504':
          $ref: '#/components/responses/timeout'
        '4XX':
          $ref: '#/components/responses/malformedRequests'
        '5XX':
          $ref: '#/components/responses/internalServerError'
  /api/v1/time:
    get:
      tags:
        - General endpoints
      summary: Test connectivity to the Rest API and get the current server time.
      operationId: CheckServerTime
      responses:
        '200':
          description: ping response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/timeResponse'
        '418':
          $ref: '#/components/responses/ipBanned'
        '429':
          $ref: '#/components/responses/rateLimit'
        '504':
          $ref: '#/components/responses/timeout'
        '4XX':
          $ref: '#/components/responses/malformedRequests'
        '5XX':
          $ref: '#/components/responses/internalServerError'
  /api/v1/exchangeInfo:
    get:
      tags:
        - Market Data endpoints
      summary: Current exchange trading rules and symbol information.
      operationId: GetExchangeInformation
      responses:
        '200':
          description: exchange info response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exchangeInformationResponse'
        '418':
          $ref: '#/components/responses/ipBanned'
        '429':
          $ref: '#/components/responses/rateLimit'
        '504':
          $ref: '#/components/responses/timeout'
        '4XX':
          $ref: '#/components/responses/malformedRequests'
        '5XX':
          $ref: '#/components/responses/internalServerError'
  /api/v1/depth:
    get:
      tags:
        - Public API Endpoints
      summary: Current exchange trading rules and symbol information.
      operationId: GetOrderBook
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: order book
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderBookResponse'
        '418':
          $ref: '#/components/responses/ipBanned'
        '429':
          $ref: '#/components/responses/rateLimit'
        '504':
          $ref: '#/components/responses/timeout'
        '4XX':
          $ref: '#/components/responses/malformedRequests'
        '5XX':
          $ref: '#/components/responses/internalServerError'
  /api/v1/trades:
    get:
      tags:
        - Public API Endpoints
      summary: Get recent trades (up to last 500).
      operationId: GetRecentTradesList
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/itemLimit'
      responses:
        '200':
          description: trade list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tradesListResponse'
        '418':
          $ref: '#/components/responses/ipBanned'
        '429':
          $ref: '#/components/responses/rateLimit'
        '504':
          $ref: '#/components/responses/timeout'
        '4XX':
          $ref: '#/components/responses/malformedRequests'
        '5XX':
          $ref: '#/components/responses/internalServerError'
  /api/v1/historicalTrades:
    get:
      tags:
        - Public API Endpoints
      summary: Get older trades (up to last 500).
      operationId: GetHistoricalTradesList
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/itemLimit'
        - $ref: '#/components/parameters/fromId'
      responses:
        '200':
          description: trade list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tradesListResponse'
        '418':
          $ref: '#/components/responses/ipBanned'
        '429':
          $ref: '#/components/responses/rateLimit'
        '504':
          $ref: '#/components/responses/timeout'
        '4XX':
          $ref: '#/components/responses/malformedRequests'
        '5XX':
          $ref: '#/components/responses/internalServerError'
  /api/v1/klines:
    get:
      tags:
        - Public API Endpoints
      summary: Kline/Candlestick data.
      description: |
        Kline/candlestick bars for a symbol. Klines are uniquely identified by their open time.
        If startTime and endTime are not sent, the most recent klines are returned.
      operationId: GetCandlestickData
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/interval'
        - $ref: '#/components/parameters/itemLimit'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
      responses:
        '200':
          description: trade list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candlestickResponse'
        '418':
          $ref: '#/components/responses/ipBanned'
        '429':
          $ref: '#/components/responses/rateLimit'
        '504':
          $ref: '#/components/responses/timeout'
        '4XX':
          $ref: '#/components/responses/malformedRequests'
        '5XX':
          $ref: '#/components/responses/internalServerError'
  /api/v1/ticker/24hr:
    get:
      tags:
        - Public API Endpoints
      summary: 24hr ticker price change statistics.
      description: |
        24 hour price change statistics. Careful when accessing this with no symbol.
        Weight: 1 for a single symbol; number of symbols that are TRADING / 2 when the symbol parameter is omitted
      operationId: TickerPriceChange24
      parameters:
        - $ref: '#/components/parameters/symbolOptional'
      responses:
        '200':
          description: trade list
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/priceChangeStatistics'
                  - $ref: '#/components/schemas/priceChangeStatisticsList'
        '418':
          $ref: '#/components/responses/ipBanned'
        '429':
          $ref: '#/components/responses/rateLimit'
        '504':
          $ref: '#/components/responses/timeout'
        '4XX':
          $ref: '#/components/responses/malformedRequests'
        '5XX':
          $ref: '#/components/responses/internalServerError'
  /api/v3/ticker/price:
    get:
      tags:
        - Public API Endpoints
      summary: Latest price for a symbol or symbols.
      operationId: GetSymbolPriceTicker
      parameters:
        - $ref: '#/components/parameters/symbolOptional'
      responses:
        '200':
          description: price ticker
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/tickerPrice'
                  - $ref: '#/components/schemas/tickerPriceList'
        '418':
          $ref: '#/components/responses/ipBanned'
        '429':
          $ref: '#/components/responses/rateLimit'
        '504':
          $ref: '#/components/responses/timeout'
        '4XX':
          $ref: '#/components/responses/malformedRequests'
        '5XX':
          $ref: '#/components/responses/internalServerError'
  /api/v3/ticker/bookTicker:
    get:
      tags:
        - Public API Endpoints
      summary: Symbol order book ticker.
      operationId: GetSymbolOrderBookTicker
      parameters:
        - $ref: '#/components/parameters/symbolOptional'
      responses:
        '200':
          description: order book ticker
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/orderBookTicker'
                  - $ref: '#/components/schemas/orderBookTickerList'
        '418':
          $ref: '#/components/responses/ipBanned'
        '429':
          $ref: '#/components/responses/rateLimit'
        '504':
          $ref: '#/components/responses/timeout'
        '4XX':
          $ref: '#/components/responses/malformedRequests'
        '5XX':
          $ref: '#/components/responses/internalServerError'
  /api/v3/order:
    get:
      tags:
        - Account endpoints
      summary: Get order details.
      operationId: GetOrderDetails
      parameters:
        - $ref: '#/components/parameters/X-MBX-APIKEY'
        - $ref: '#/components/parameters/signature'
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/origClientOrderId'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
      responses:
        '200':
          description: order book ticker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderDetail'
        '418':
          $ref: '#/components/responses/ipBanned'
        '429':
          $ref: '#/components/responses/rateLimit'
        '504':
          $ref: '#/components/responses/timeout'
        '4XX':
          $ref: '#/components/responses/malformedRequests'
        '5XX':
          $ref: '#/components/responses/internalServerError'
    post:
      tags:
        - Account endpoints
      summary: Send in a new order..
      operationId: PostNewOrder
      parameters:
        - $ref: '#/components/parameters/X-MBX-APIKEY'
        - $ref: '#/components/parameters/signature'
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/side'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/timeInForce'
        - $ref: '#/components/parameters/quantity'
        - $ref: '#/components/parameters/price'
        - $ref: '#/components/parameters/newClientOrderId'
        - $ref: '#/components/parameters/stopPrice'
        - $ref: '#/components/parameters/icebergQty'
        - $ref: '#/components/parameters/newOrderRespType'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
      responses:
        '200':
          description: order book ticker
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/sendOrderACK'
                  - $ref: '#/components/schemas/sendOrderRESULT'
                  - $ref: '#/components/schemas/sendOrderFULL'
        '418':
          $ref: '#/components/responses/ipBanned'
        '429':
          $ref: '#/components/responses/rateLimit'
        '504':
          $ref: '#/components/responses/timeout'
        '4XX':
          $ref: '#/components/responses/malformedRequests'
        '5XX':
          $ref: '#/components/responses/internalServerError'
  /api/v3/order/test:
    post:
      tags:
        - Account endpoints
      summary: TEST Send in a new order..
      operationId: TestPostNewOrder
      parameters:
        - $ref: '#/components/parameters/X-MBX-APIKEY'
        - $ref: '#/components/parameters/signature'
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/side'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/timeInForce'
        - $ref: '#/components/parameters/quantity'
        - $ref: '#/components/parameters/price'
        - $ref: '#/components/parameters/newClientOrderId'
        - $ref: '#/components/parameters/stopPrice'
        - $ref: '#/components/parameters/icebergQty'
        - $ref: '#/components/parameters/newOrderRespType'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
      responses:
        '200':
          description: order book ticker
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/sendOrderACK'
                  - $ref: '#/components/schemas/sendOrderRESULT'
                  - $ref: '#/components/schemas/sendOrderFULL'
        '418':
          $ref: '#/components/responses/ipBanned'
        '429':
          $ref: '#/components/responses/rateLimit'
        '504':
          $ref: '#/components/responses/timeout'
        '4XX':
          $ref: '#/components/responses/malformedRequests'
        '5XX':
          $ref: '#/components/responses/internalServerError'
components:
  responses:
    malformedRequests:
      description: return codes are used for for malformed requests; the issue is on the sender's side
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    rateLimit:
      description: return code is used when breaking a request rate limit.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    ipBanned:
      description: return code is used when an IP has been auto-banned for continuing to send requests after receiving 429 codes.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    internalServerError:
      description: return codes are used for internal errors; the issue is on Binance's side.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    timeout:
      description: return code is used when the API successfully sent the message but not get a response within the timeout period. It is important to NOT treat this as a failure; the execution status is UNKNOWN and could have been a success.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
  schemas:
    candlestickResponse:
      type: array
      items:
        type: array
        items:
          oneOf:
            - type: integer
              format: int64
            - type: number
              format: double
            - type: integer
        minItems: 12
        maxItems: 12
    exchangeInformationResponse:
      type: object
      properties:
        timezone:
          type: string
          example: UTC
        serverTime:
          type: integer
          format: int64
          example: 1508631584636
        rateLimits:
          type: array
          items:
            $ref: '#/components/schemas/rateLimit'
        exchangeFilters:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/EXCHANGE_MAX_NUM_ORDERS'
              - $ref: '#/components/schemas/EXCHANGE_MAX_ALGO_ORDERS'
            discriminator:
              propertyName: filterType
        symbols:
          type: array
          items:
            $ref: '#/components/schemas/symbol'
      required:
        - timezone
        - serverTime
        - rateLimits
        - exchangeFilters
        - symbols
    errorResponse:
      type: object
      properties:
        code:
          type: integer
          example: '-1121,'
        msg:
          type: string
          example: Invalid symbol.
      required:
        - code
        - msg
    filter:
      type: object
      properties:
        filterType:
          type: string
          enum:
            - PRICE_FILTER
            - LOT_SIZE
            - MIN_NOTIONAL
            - MAX_NUM_ORDERS
            - MAX_ALGO_ORDERS
      discriminator:
        propertyName: filterType
      required:
        - fitlerType
    PRICE_FILTER:
      description: The PRICE_FILTER defines the price rules for a symbol.
      allOf:
        - $ref: '#/components/schemas/filter'
        - type: object
          properties:
            minPrice:
              type: number
              format: double
              description: defines the minimum price/stopPrice allowed.
              example: 0.000001
            maxPrice:
              type: number
              format: double
              description: defines the maximum price/stopPrice allowed.
              example: 100000
            tickSize:
              type: number
              format: double
              description: defines the intervals that a price/stopPrice can be increased/decreased by.
              example: 0.000001
          required:
            - minPrice
            - maxPrice
            - tickSize
    LOT_SIZE:
      description: The LOT_SIZE filter defines the quantity (aka 'Lots' in auction terms) rules for a symbol.
      allOf:
        - $ref: '#/components/schemas/filter'
        - type: object
          properties:
            minQty:
              type: number
              format: double
              description: defines the minimum quantity/icebergQty allowed.
              example: 0.001
            maxQty:
              type: number
              format: double
              description: defines the maximum quantity/icebergQty allowed.
              example: 100000
            stepSize:
              type: number
              format: double
              description: defines the intervals that a quantity/icebergQty can be increased/decreased by.
              example: 0.001
          required:
            - minQty
            - maxQty
            - stepSize
    MIN_NOTIONAL:
      description: The MIN_NOTIONAL filter defines the minimum notional value allowed for an order on a symbol. An order's notional value is the price * quantity.
      allOf:
        - $ref: '#/components/schemas/filter'
        - type: object
          properties:
            minNotional:
              type: number
              format: double
              example: 0.001
          required:
            - minNotional
    MAX_NUM_ORDERS:
      description: The MAX_NUM_ORDERS filter defines the maximum number of orders an account is allowed to have open on a symbol. Note that both "algo" orders and normal orders are counted for this filter.
      allOf:
        - $ref: '#/components/schemas/filter'
        - type: object
          properties:
            limit:
              type: integer
              example: 25
          required:
            - limit
    MAX_ALGO_ORDERS:
      description: 'The MAX_ALGO_ORDERS filter defines the maximum number of "algo" orders an account is allowed to have open on a symbol. "Algo" orders are STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT orders.'
      allOf:
        - $ref: '#/components/schemas/filter'
        - type: object
          properties:
            limit:
              type: integer
              example: 5
          required:
            - limit
    exchangeFilter:
      type: object
      properties:
        filterType:
          type: string
          enum:
            - EXCHANGE_MAX_NUM_ORDERS
            - EXCHANGE_MAX_ALGO_ORDERS
      discriminator:
        propertyName: filterType
      required:
        - filterType
    EXCHANGE_MAX_NUM_ORDERS:
      description: The MAX_NUM_ORDERS filter defines the maximum number of orders an account is allowed to have open on the exchange. Note that both "algo" orders and normal orders are counted for this filter.
      allOf:
        - $ref: '#/components/schemas/exchangeFilter'
        - type: object
          properties:
            limit:
              type: integer
              example: 1000
          required:
            - limit
    EXCHANGE_MAX_ALGO_ORDERS:
      description: 'The MAX_ALGO_ORDERS filter defines the maximum number of "algo" orders an account is allowed to have open on the exchange. "Algo" orders are STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT orders.'
      allOf:
        - $ref: '#/components/schemas/exchangeFilter'
        - type: object
          properties:
            limit:
              type: integer
              example: 200
          required:
            - limit
    orderBookResponse:
      type: object
      properties:
        lastUpdateId:
          type: integer
          format: int64
          example: 1027024
        bids:
          type: array
          items:
            oneOf:
              - type: number
                format: double
              - type: array
          minItems: 2
          maxItems: 3
        asks:
          type: array
          items:
            oneOf:
              - type: number
                format: double
              - type: array
            minItems: 2
            maxItems: 3
    orderBookTicker:
      type: object
      properties:
        symbol: 
          type: string
          example: LTCBTC
        bidPrice:
          type: number
          format: double
          example: 4.00000000
        bidQty:
          type: number
          format: double
          example: 431.00000000
        askPrice:
          type: number
          format: double
          example: 4.00000200
        askQty:
          type: number
          format: double
          example: 9.00000000
      required:
        - symbol
        - bidPrice
        - bidQty
        - askPrice
        - askQty
    orderBookTickerList:
      type: array
      items:
        $ref: '#/components/schema/orderBookTicker'
    orderDetail:
      type: object
    orderFill:
      type: object
      properties:
        price:
          type: number
          format: double
          example: 4000.00000000
        qty: 
          type: number
          format: double
          example: 1.00000000
        commission:
          type: number
          format: double
          example: 4.00000000
        commissionAsset:
          type: string
          example: USDT
      required:
        - price
        - qty
        - commission
        - commissionAsset
    priceChangeStatisticsList:
      type: array
      items:
        $ref: '#/components/schemas/priceChangeStatistics' 
    priceChangeStatistics:
      properties:
        symbol:
          type: string
          example: BNBBTC
        priceChange:
          type: number
          format: float
          example: -94.99999800
        priceChangePercent:
          type: number
          format: float
          example: -95.960
        weightedAvgPrice:
          type: number
          format: float
          example: 0.29628482
        prevClosePrice:
          type: number
          format: float
          example: 0.10002000
        lastPrice:
          type: number
          format: float
          example: 4.00000200
        lastQty:
          type: number
          format: float
          example: 200.00000000
        bidPrice:
          type: number
          format: float
          example: 4.00000000
        askPrice:
          type: number
          format: float
          example: 4.00000200
        openPrice:
          type: number
          format: float
          example: 99.00000000
        highPrice:
          type: number
          format: float
          example: 100.00000000
        lowPrice:
          type: number
          format: float
          example: 0.10000000
        volume:
          type: number
          format: float
          example: 8913.30000000
        quoteVolume:
          type: number
          format: float
          example: 15.30000000
        openTime:
          type: number
          format: float
          example: 1499783499040
        closeTime:
          type: number
          format: float
          example: 1499869899040
        fristId:
          type: integer
          format: int64
          description: First tradeId
          example: 28385
        lastId:
          type: integer
          format: int64
          description: Last tradeId
          example: 28460 
        count:
          type: integer
          description: Trade count
          example: 76
      required:
        - symbol
        - priceChange
        - priceChangePercent
        - weightedAvgPrice
        - prevClosePrice
        - lastPrice
        - lastQty
        - bidPrice
        - askPrice
        - openPrice
        - highPrice
        - lowPrice
        - volume
        - quoteVolume
        - openTime
        - closeTime
        - fristId
        - lastId
        - count
    rateLimit:
      type: object
      properties:
        rateLimitType:
          type: string
          enum:
            - REQUESTS
            - ORDERS
        interval:
          type: string
          enum:
            - SECOND
            - MINUTE
            - DAY
        limit:
          type: integer
          example: 100000
      required:
        - rateLimitType
        - interval
        - limit
    symbol:
      type: object
      properties:
        symbol:
          type: string
          example: ETHBTC
        status:
          type: string
          enum:
            - PRE_TRADING
            - TRADING
            - POST_TRADING
            - END_OF_DAY
            - HALT
            - AUCTION_MATCH
            - BREAK
        baseAsset:
          type: string
          example: ETH
        baseAssetPrecision:
          type: integer
          example: 8
        quoteAsset:
          type: string
          example: 'BTC,'
        quotePrecision:
          type: integer
          example: 8
        orderTypes:
          type: array
          items:
            type: string
            enum:
              - LIMIT
              - MARKET
              - STOP_LOSS
              - STOP_LOSS_LIMIT
              - TAKE_PROFIT
              - TAKE_PROFIT_LIMIT
              - LIMIT_MAKER
        icebergAllowed:
          type: boolean
        filters:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/PRICE_FILTER'
              - $ref: '#/components/schemas/LOT_SIZE'
              - $ref: '#/components/schemas/MIN_NOTIONAL'
              - $ref: '#/components/schemas/MAX_NUM_ORDERS'
              - $ref: '#/components/schemas/MAX_ALGO_ORDERS'
              - $ref: '#/components/schemas/MAX_ALGO_ORDERS'
              - $ref: '#/components/schemas/MAX_ALGO_ORDERS'
            discriminator:
              propertyName: filterType
      required:
        - symbol
        - status
        - baseAsset
        - baseAssetPrecision
        - quoteAsset
        - quotePrecision
        - orderTypes
        - icebergAllowed
        - filters
    sendOrderACK:
      properties:
        symbol:
          type: string
          example: BTCUSDT
        orderId:
          type: integer
          format: int64 
          example: 28
        clientOrderId:
          type: string
          example: 6gCrw2kRUAF9CvJDGP16IP
        transactTime: 
          type: integer
          format: double
          example: 1507725176595
      required:
        - symbol
        - orderId
        - clientOrderId
        - transaction
    sendOrderRESULT:
      allOf:
        - $ref: '#/components/schemas/sendOrderACK'
        - type: object
          properties:
            price:
              type: number
              format: double
              example: 0.00000000
            origQty:
              type: number
              format: double
              example: 10.00000000",
            executedQty:
              type: number
              format: double
              example: 10.00000000",
            status:
              type: string
              enum:
                - NEW
                - PARTIALLY_FILLED
                - FILLED
                - CANCELED
                - PENDING_CANCEL
                - REJECTED
                - EXPIRED
            timeInForce:
              type: string
              enum:
                - GTC
            type:
              type: string
              enum:
                - LIMIT
                - MARKET
                - STOP_LOSS
                - STOP_LOSS_LIMIT
                - TAKE_PROFIT
                - TAKE_PROFIT_LIMIT
                - LIMIT_MAKER
            side:
              type: string
              enum:
                - SELL
                - BUY
          required:
            - price
            - origQty
            - executedQty
            - status
            - timeInForce
            - type
            - side
    sendOrderFULL:
      allOf:
        - $ref: '#/components/schemas/sendOrderRESULT'
        - type: object
          properties:
            fills:
              type: array
              itmes:
                $ref: '#/components/schemas/orderFill'
          required:
            - fills
    tickerPrice:
      properties:
        symbol:
          type: string
          example: LTCBTC
        price:
          type: number
          format: double
          example: 1.23452456
    tickerPriceList:
      type: array
      items:
        $ref: '#/components/schemas/tickerPrice' 
    timeResponse:
      type: object
      properties:
        serverTime:
          type: integer
          format: int64
          description: unix time in ms
      required:
        - serverTime
    trade:
      type: object
      properties:
          id: 
            type: integer
            format: int64
            example: 28457,
          price:
            type: number
            format: double
            example: 4.00000100
          qty:
            type: number
            format: double
            example: 12.00000000
          time:
            type: integer
            format: int64
            example: 1499865549590
          isBuyerMaker:
            type: boolean
          isBestMatch: 
            type: boolean
    tradesListResponse:
      type: array
      items:
        $ref: '#/components/schemas/trade'
parameters:
    endTime:
      name: endTime
      in: query
      schema:
        type: integer
        format: int64
    fromId:
      name: fromId
      in: query
      description: TradeId to fetch from. Default gets most recent trades.
      schema:
        type: integer
        format: int64
    icebergQty:
      name: icebergQty
      in: query
      description: Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create an iceberg order.
      schema:
        type: number
        format: double
    itemLimit:
      name: limit
      in: query
      description: Default 500; max 500.
      schema:
        type: integer
        minimum: 0
        maximum: 500
        default: 500
    interval:
      name: inteval
      in: query
      required: true
      schema:
        type: string
        enum:
          - 1m
          - 3m
          - 5m
          - 15m
          - 30m
          - 1h
          - 2h
          - 4h
          - 6h
          - 8h
          - 12h
          - 1d
          - 3d
          - 1w
          - 1M
    limit:
      name: limit
      in: query
      schema:
        type: integer
        enum:
          - 5
          - 10
          - 20
          - 50
          - 100
          - 500
          - 1000
    newClientOrderId:
      name: newClientOrderId
      in: query
      description: A unique id for the order. Automatically generated if not sent.
      schema:
        type: string
    newOrderRespType:
      name: newOrderRespType
      in: query
      description: Set the response JSON. ACK, RESULT, or FULL; default: RESULT.
      schema:
        type: string
        enum:
          - ACK
          - RESULT
          - FULL
    orderId:
      name: orderId
      in: query
      schema:
        type: integer
        format: int64
    origClientOrderId:
      name: origClientOrderId
      in: query
      schema:
        type: strign
    price:
      name: price
      required: true
      in: query
      schema:
        type: number
        format: double
    quantity:
      name: quantity
      in: query
      required: true
      schema:
        type: number
        format: double
    recvWindow:
      name: recvWindow
      in: query
      schema:
        type: integer
        format: int64
    symbol:
      name: symbol
      in: query
      schema:
        type: string
      required: true
    side:
      name: side
      in: query
      required: true
      schema:
        type: string
        enum:
          - BUY
          - SELL
    symbolOptional:
      name: symbol
      in: query
      schema:
        type: string
    startTime:
      name: startTime
      in: query
      schema:
        type: integer
        format: int64
    stopPrice:
      name: stopPrice
      in: query
      description: Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT orders.
      schema:
        type: number
        format: double
    signature:
      name: signature
      in: query
      schema:
        type:    
    type:
      name: type
      in: query
      required: true
      schema:
        type: string
        enum:
          - LIMIT
          - MARKET
          - STOP_LOSS
          - STOP_LOSS_LIMIT
          - TAKE_PROFIT
          - TAKE_PROFIT_LIMIT
          - LIMIT_MAKER
    timeInForce:
      name: timeInForce
      in: query
      schema:
        type: string
        enum:
          - GTC
    timestamp:
      name: timestamp
      in: query
      required: true
      schema:
        type: integer
        format: int64
    X-MBX-APIKEY:
      name: X-MBX-APIKEY
      in: header
      required: true
      schema:
        type: string